.mini-scrollbar {
  padding-top: 0.2rem;
}
.mini-scrollbar::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
  background-color: transparent;
}
.mini-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(192, 192, 192, 0);
  border-radius: 0.2rem;
}

.mini-scrollbar-show::-webkit-scrollbar-thumb {
  background-color: rgba(192, 192, 192, 0.6);
}